menu "Application Configuration"

    config ESP_WIFI_AP_SSID
		string "WiFi SSID of AP mode"
		default "ap_ssid"
		help
			SSID (network name) for the AP created.

	config ESP_WIFI_AP_PASSWORD
		string "WiFi Password of AP mode"
		default "ap_password"
		help
			WiFi password (WPA or WPA2) for the AP created.

	config ESP_WIFI_AP_CHANNEL
		int "WiFi Channel of AP mode"
		range 1 13
		default 1
		help
			WiFi channel (network channel) for the AP created.

	config AP_MAX_STA_CONN
		int "Maximal STA connections of AP mode"
		default 4
		help
			Max number of the STA connects to AP.

    config ESP_WIFI_STA_SSID
        string "WiFi AP SSID"
        default "SSID"
        help
            SSID (network name) for the example to connect to.

    config ESP_WIFI_STA_PASSWORD
        string "WiFi Password"
        default "password"
        help
            WiFi password (WPA or WPA2) for the example to use.

    config ESP_STA_MAXIMUM_RETRY
        int "STA Maximum retry"
        default 5
        help
            Set the Maximum retry to avoid station reconnecting to the AP unlimited when the AP is really inexistent.
		
	config I2C_INIT_SCL
		int "SCL GPIO Num"
		default 19
		help
			GPIO number for I2C Master clock line
		
	config I2C_INIT_SDA
		int "SDA GPIO Num"
		default 18
		help
			GPIO number for I2C Master data line.
	
	config GPIO_OUTPUT_0
		int "GPIO Output 0"
		default 8
		help
			GPIO number for Output

	config GPIO_INPUT_0
		int "GPIO Input 0"
		default 17
		help
			GPIO number for Input
endmenu